<h3>Edit Comment:</h3>
<form action= '/comment/<%= @cur_comment.id %>' method='post'>
  <input type='hidden' name='_method' value='put' />
  <input type='text' placeholder='title' name='title' />
  <input type='text' placeholder='content' name='content' />

  <input type='submit' value='Update' />
</form>
