<!-- <h3>Add a Comment:</h3>
<form action= '/comments' method='post'>
  <input type='text' placeholder='title' name='title' />
  <input type='text' placeholder='content' name='content' />
  <input type='text' placeholder='perspective' name='perspective' />

  <input type='submit' value='Add' />
</form>
 -->
