<ul class="list-group">
  <%@expeditionists.each do |expeditionist|%>
  <li class="list-group-item"><a href='/expeditionist/<%=expeditionist.id%>'><%= expeditionist.name %></a></li>
  <%end%>
</ul>


