
<%@expeditionists.each do |expeditionist|%>
<div class="row">
  <div class="col-md-12">
    <div class="thumbnail">
      <img src="http://sr.photos3.fotosearch.com/bthumb/CSP/CSP968/k9681355.jpg" alt="...">
      <div class="caption">
        <h3><%=expeditionist.name%></h3>
        <h5><%=expeditionist.niche%></h5>
        <p><a href="/expeditionist/<%=expeditionist.id%>/experiences" class="btn btn-primary" role="button">Experiences</a></p>
      </div>
    </div>
  </div>
</div>
<%end%>

