<div id='images'>
<ul class="list-group">
  <%@experiences.each do |experience|%>
  <li class="list-group-item"><a href='/perspective/<%=experience.id%>'><%=experience.title%></a></li>
 <%end%>
</ul>
</div>
