<h3>Add a Perspective:</h3>
<form action= '/perspective/new' method='post'>
  <input type='text' placeholder='title' name='title' /><br><hr>
  <textarea cols="100" rows="20" placeholder='content' name='content' ></textarea><br><br>
  <select name="mydropdown">
    <%Experience.all.each do |exp|%>
    <option value="<%exp%>"><%=exp.title%></option>
    <%end%>

  <input type='submit' value='Add' />
</form>
