
.item img{
  width: 900px;
  height: 900px;
  text-align: center;
  position: relative;
}

#search_bar {
  text-align: center;
}


.list-group {
  text-align: center;
}

.row{
  text-align: center;
}

.col-sm-6{
  text-align: center;
}

.col-md-4{
  text-align: center;
}

.thumbnail{
  text-align: center;
}

#container{
  text-align: center;
}

body {
    background: url('http://cdn2.bigcommerce.com/server1500/8eaf0/product_images/uploaded_images/blowing-tree-wall-decal-1181.jpg');

}
