
.item img{
  width: 900px;
  height: 900px;
  text-align: center;
  position: relative;
}

#search_bar {
  text-align: center;
}


.list-group {
  text-align: center;
}

.row{
  text-align: center;
}

.col-sm-6{
  text-align: center;
}

.col-md-4{
  text-align: center;
}

.thumbnail{
  text-align: center;
}


