<div id='container'>
  <h1 id='header'> Perspective </h1>
  <div id='view_plate'>
    <table>
      <td><a href'/experiences'>Experiences</a></td>
      <td><a href'/expeditionists'>Expeditionists</a></td>
    </table>
  </div>
      <form action="/experience/:id" method="post">
        Enter to find Experience:
        <br>
        <input type="text" name="title" placeholder="Experience Title">
        <input type="submit" value="Search it!">
      </form>
 </div>
